Objective: Creating a model to predict whether a given person lives in Yerushalayim or not based on certain features.

In [13]:
import pandas as pd

In [19]:
dira = pd.read_csv("Apartments Dataset .csv")
#data.head()

In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [18]:
print(dira['elevator(y/n)'].value_counts.isnull())

AttributeError: 'function' object has no attribute 'isnull'

In [20]:
dira.head()

,name,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,Aidel Matskin,2.0,n,4,y,n
1,Avigail Bendheim,4.0,y,16,n,y
2,Aviva Winsbacher,4.0,n,8,n,n
3,Bassie Schoonmaker,6.0,n,12,y,n
4,Brina Rochel Kaplan,6.0,n,28,y,y

In [ ]:
dira= dira.drop('name', axis=1)

In [23]:
dira.head()

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,2.0,n,4,y,n
1,4.0,y,16,n,y
2,4.0,n,8,n,n
3,6.0,n,12,y,n
4,6.0,n,28,y,y

In [26]:
x = 'y'
if type(x) == str:
    print(1)
else:
    print(0)

1

In [27]:
x= {'n': 0, 'y': 1}
dira["elevator(y/n)"] = dira["elevator(y/n)"].replace(x)

In [28]:
x= {'n': 0, 'y': 1}
dira["makolet on your street?(y/n)"] = dira["makolet on your street?(y/n)"].replace(x)

In [29]:
dira.head()

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,2.0,0,4,1,n
1,4.0,1,16,0,y
2,4.0,0,8,0,n
3,6.0,0,12,1,n
4,6.0,0,28,1,y

In [30]:
dira['elevator(y/n)'] = dira['elevator(y/n)'].astype('bool')

In [33]:
dira['makolet on your street?(y/n)'] = dira['makolet on your street?(y/n)'].astype('bool')

In [35]:
x= {'n': 0, 'y': 1}
dira["Yerushalyim? (y/n)"] = dira["Yerushalyim? (y/n)"].replace(x)

In [36]:
dira['Yerushalyim? (y/n)'] = dira['Yerushalyim? (y/n)'].astype('bool')

In [39]:
dira.head(60)

,number of floors in your building,elevator(y/n),number of apartments in your building,makolet on your street?(y/n),Yerushalyim? (y/n)
0,2.0,False,4,True,False
1,4.0,True,16,False,True
2,4.0,False,8,False,False
3,6.0,False,12,True,False
4,6.0,False,28,True,True
5,4.0,False,7,False,True
6,5.0,False,10,True,True
7,6.0,False,14,False,True
8,6.0,False,28,True,True
9,3.0,False,9,False,True
10,8.0,True,35,True,True
11,8.0,True,24,True,True
12,7.0,True,33,False,True
13,7.0,True,28,False,True
14,4.0,False,13,True,True
15,5.0,False,16,True,True
16,6.0,True,18,True,False
17,8.0,True,33,True,True
18,3.0,False,3,True,False
19,6.0,False,15,True,True
20,3.0,False,18,False,True
21,6.0,True,25,False,True
22,6.0,False,14,True,True
23,3.0,False,10,False,True
24,5.0,True,15,False,True
25,3.0,True,6,True,False
26,8.0,True,24,True,True
27,6.0,True,16,True,True
28,4.0,False,12,True,True
29,6.0,False,28,True,True
30,5.0,False,11,True,True
31,4.0,False,21,True,True
32,4.0,False,24,True,True
33,2.0,False,4,False,False
34,4.0,True,9,True,True
35,3.0,False,3,True,True
36,5.0,False,14,False,True
37,3.0,False,8,False,True
38,5.0,False,10,True,True
39,4.0,False,16,True,True
40,5.0,False,32,True,True
41,3.0,True,6,False,False
42,5.0,False,25,True,True
43,8.0,True,40,False,True
44,2.0,False,3,False,True
45,3.5,False,8,False,True
46,3.0,False,3,True,True
47,5.0,False,8,False,True
48,5.0,False,30,True,True
49,6.0,True,30,True,True
50,5.0,False,15,True,True
51,6.0,True,25,False,True

Our target is weather the given person lives in Yerushaleim or not. Our features are the: Number of floors, wheather there is a elevator or not, number of apartments in the building and if there is a Makolet or not. 
In a markdown cell write one or two sentences with some analysis regarding the features and
targets.

In [42]:
X= dira.drop('Yerushalyim? (y/n)', axis=1)
y=dira['Yerushalyim? (y/n)']

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15)

In [44]:
model = LogisticRegression(max_iter= 500, penalty='l2',C=.5)
model.fit(X_train, y_train)
pred= model.predict(X_test)
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.75

The accuracy of this model is 75%. We can try other other methods such as the KNN Neighbors and see if that would give us better results.